body {
background-image: url(media/darkbb.avif);
background-size: cover;
background-repeat: no-repeat;
font-family: 'Oswald', sans-serif;
font-size: 23px;
margin-top: 30px;

}
h1 {
color: #e20404;
border: 8px solid white;
padding: 10px ;
text-align: center;
} 

.background {
     color: #b42c2c;
     position: absolute;
     top: 140px;
     left: 150px;
     font-size: 35px;
}

.background2 {
    color: #b85b21;
    position: absolute;
    top: 140px;
    right: 170px;
    font-size: 35px;

}

.background3 {
    color: purple;
    position: absolute;
    font-size: 35px;
    right: 600px;
    bottom: 455;
    
}

.span {
  font-style: italic ;
}

.mj-pic {
    position: absolute;
    top: 190px;
left: 150px;
}

.lbj-dunk{
    position: absolute;
    top: 190px;
    right: 150px;
}

.kobeb{
    position: absolute;
    bottom: 20px;
    right: 550px;
}

.mjaccolades{
    color: #e20404;
    font-size: 8  ;
    width: 250;
    position: absolute;
    bottom  : 190;
    left: 150;
    border: 2px solid white;
}

.kobeaccolades{
    color: #D5CB13;
    font-size: 11;
width: 360;
position: absolute;
top: 150;
left: 570;
border: 2px solid white;
}

.lbjaccolades{
font-size: 11;
color: #e0712c;
width: 290;
position: absolute;
right: 120;
bottom: 20;
border: 2px solid white;
}