body {
background-color:rgb(245,244,245);
font-size: 50px;
}
h1 {
color: rgb(180, 44, 44);
}

h2 {
color: rgb(180,44,44);
font-size: 60px;
}

h3 {
color:rgb(157, 83,15) ;
font-size: 60px;
}

h4 {
color: rgb(114,15,157);
font-size: 60px;
}